# Java / Maven / Gradle
target/
build/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar

# Node / React
node_modules/
dist/
.vite/

# Env / secrets
.env
.env.local
*.local

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Logs
*.log
